 div {
     transition: background 500ms ease-in-out;
 }

 .square-red {
     width: 100px;
     height: 100px;
     background: red;
 }

 .square-blue {
     width: 100px;
     height: 100px;
     background: blue;
 }

 img{
    width: 200px;
    height: 200px;
 }